.chat-box.card{
    height: 100vh;
}
.user-cards{
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 10px;
    background-color: #fff;
    cursor: pointer;
}